/* style mające zastosowanie dla index oraz portfolio */
:root {
    --text-color: #212121;
    --logo-color-black: #000000;
    --logo-color-white: #ffffff;
    --blue-accent: #2196f3;
    --dark-background: #2f303a;
    --bg-img: rgba(47, 48, 58, 0.4);
}
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
}
svg,
img {
    vertical-align: middle;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.box-header {
    border-bottom: 1px solid #ececec;
    padding: 24px 0 25px;
}
.box-header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-navigation {
    display: flex;
    align-items: center;
    gap: 93px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    color: var(--blue-accent);
    text-decoration: none;
    letter-spacing: 0.03em;
    display: inline-block;
}

.logo-black {
    color: var(--logo-color-black);
}
.logo-white {
    color: var(--logo-color-white);
}
.site-nav {
    list-style: none;
    letter-spacing: 0.02em;
    display: flex;
    gap: 46px;
}
.site-nav-menu {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
    text-decoration: none;
    color: var(--text-color);
    letter-spacing: 0.02em;
    text-align: left;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}
.is-active {
    color: #2196f3;
}
.is-active::after {
    position: absolute;
    width: 53px;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    top: 44px;
    content: "";
    justify-content: center;
    display: flex;
}
.site-nav-menu:hover,
.site-nav-menu:focus {
    color: #2196f3;
}
.site-nav-menu:hover::after,
.site-nav-menu:focus::after {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    top: 44px;
    content: "";
    justify-content: center;
    display: flex;
}

.email {
    margin-right: 50px;
}

.contact {
    font-style: normal;
    color: var(--logo-color-white);
    text-decoration: none;
    line-height: 1.7;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 0.03em;
}
.link {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.17;
    text-decoration: none;
    color: #757575;
    cursor: pointer;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    color: var(--blue-accent);
    fill: #2196f3;
}
.email-icon {
    margin-right: 10px;
}
.tel-icon {
    margin-right: 10px;
}
.footer-wrapper {
    padding: 60px 0;
    background-color: var(--dark-background);
}
.address-wrapper {
    margin-top: 20px;
}
.footer-links {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.tel {
    margin-top: 9px;
    line-height: 1.7;
}
.footer-email {
    padding-top: 9px;
}
.section {
    margin-bottom: 94px;
    margin-top: 94px;
}
.footer-box {
    display: flex;
}
.join-us {
    margin-left: 70px;
}
.join-us-header {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #ffffff;
    font-style: normal;
}
.join-us-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    margin-top: 20px;
}
.sm {
    fill: #ffffff;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}
.sm:is(:hover, :focus) {
    background-color: #2196f3;
}
.newsletter-wrapper {
    margin-left: 77px;
}

.newsletter-header {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #ffffff;
    font-style: normal;
}
.newsletter-box {
    margin-top: 20px;
    display: flex;
}
.newsletter-email {
    width: 348px;
    height: 50px;
    color: #ffffff99;
    background-color: var(--dark-background);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 15px 0 15px 16px;
    margin-right: 12px;
    outline: none;
}
.newsletter-btn {
    width: 200px;
    height: 50px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: var(--blue-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid var(--blue-accent);
    padding: 10px 26px 10px 42px;
    cursor: pointer;
}
.submit-icon {
    fill: #ffffff;
    margin-left: 18px;
}
/*style mające zastosowanie tylko dla index */
.services {
    text-align: center;
    background-color: var(--dark-background);
    background-image: linear-gradient(to bottom, var(--bg-img), var(--bg-img)),
        url(../images/bg-img.png);
    background-repeat: no-repeat;
    background-position: center;
}

.services h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    color: var(--logo-color-white);
    letter-spacing: 0.06em;
    margin: -94px 252px 30px;
    padding-top: 200px;
}

.services button {
    font-weight: 700;
    line-height: 1.875;
    background-color: var(--blue-accent);
    color: var(--logo-color-white);
    border-color: var(--blue-accent);
    letter-spacing: 0.06em;
    outline: none;
    border-radius: 4px;
    border: none;
    padding: 10px 41px 10px 42px;
    margin-bottom: 200px;
    cursor: pointer;
}
.article-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 30px;
}
.article-icons-box {
    margin-bottom: 30px;
}
.article-icon {
    background-color: #f5f4fa;
    padding: 25px 100px;
    border-radius: 4px;
}

.articles {
    list-style: none;
    letter-spacing: 0.03em;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 94px;
}
.articles li {
    margin-right: 30px;
}
.articles li:last-child {
    margin-right: 0;
}
.articles h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.172;
    margin-bottom: 10px;
    margin-top: -94px;
}
.articles p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.types-of-services {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}
.services-header {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
}
.services-images {
    margin-right: 30px;
    position: relative;
}
.types-of-services li:last-child {
    margin-right: 0;
}

.services-label {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
    opacity: 80%;
    margin: 0;
}
.label-1 {
    padding: 27px 90px;
}
.label-2 {
    padding: 27px 112.95px;
}
.label-3 {
    padding: 27px 94px;
}
.services-images > .services-label {
    position: absolute;
    bottom: 0;
}
.team-members {
    background: #f5f4fa;
}
.team {
    list-style: none;
    letter-spacing: 0.03em;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
    padding-bottom: 94px;
    margin-bottom: -94px;
}
.our-team {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 50px;
    padding-top: 94px;
}
.name-card {
    padding-top: 30px;
    text-align: center;
}
.team-member {
    background-color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}
.position {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    line-height: 1.2;
    display: block;
    margin-top: 10px;
}
.tm-sm-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    margin: 16px 32px 30px;
}
.team-member-sm {
    fill: #afb1b8;
    border-radius: 50%;
    outline: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-member-sm:is(:hover, :focus) {
    background-color: #2196f3;
    fill: #ffffff;
}

.our-clients {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 50px;
    padding-top: 94px;
}
.our-clients-icons {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
}
.our-clients-icon {
    outline: 1px solid #afb1b8;
    padding: 17.71px 32px 14.25px;
    border-radius: 4px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients-icon:is(:hover, :focus) {
    cursor: pointer;
    fill: #2196f3;
    outline: 1px solid #2196f3;
}
/* style mające zastosowanie tylko dla portfolio */
.filters {
    list-style: none;
    text-align: center;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
}
.filters button {
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    background-color: #f5f4fa;
    border-color: #f5f4fa;
    cursor: pointer;
    line-height: 1.6;
    outline: none;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    margin: 94px 8px 50px 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters li:last-child {
    margin-right: 0;
}
.filters button:is(:hover, :focus) {
    background-color: var(--blue-accent);
    color: var(--logo-color-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.websites {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 94px;
}
.websites li {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.websites li:nth-child(3) {
    margin-right: 0;
}
.websites li:nth-child(6) {
    margin-right: 0;
}
.websites li:nth-child(9) {
    margin-right: 0;
}
.website-box {
    position: relative;
    overflow: hidden;
}
.website-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2196f3e5;
    opacity: 90%;
    color: #ffffff;
    padding: 49px 45px 49px 24px;
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.556;
    letter-spacing: 0.03em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 370px;
}

.website-box:hover .website-overlay {
    transform: translateY(0);
}
.websites li:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
.website-info {
    padding: 20px 24px;
    border: 1px solid #ececec;
    border-top: none;
}
.category {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
    color: #757575;
    letter-spacing: 0.03em;
    display: block;
}
.link-underlined {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.1;
    text-decoration: underline;
    color: #757575;
    cursor: pointer;
    padding-top: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-underlined:hover,
.link-underlined:focus {
    color: var(--blue-accent);
}
/* okno modalne */
.backdrop {
    position: fixed;
    display: grid;
    align-items: center;
    justify-items: center;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    visibility: visible;
    opacity: 1;
    transition: visibility 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    width: 528px;
    height: 581px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition-property: opacity, visibility;
    transition-duration: 550ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden .modal {
    transform: translateY(-150%);
}
.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    margin-left: 490px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.form-wrapper {
    position: relative;
    display: grid;
    justify-items: center;
    padding-left: 40px;
}
.form-header {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    width: 448px;
    height: 23px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 12px;
}
.form-label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}
.submit-btn {
    color: #ffffff;
    background-color: var(--blue-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid var(--blue-accent);
    padding: 10px 76px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    margin: 30px 124px;
    cursor: pointer;
    transition-property: opacity, visibility;
    transition-duration: 550ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-box {
    margin-top: 10px;
    position: relative;
    display: grid;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-box:focus-within {
    fill: var(--blue-accent);
}
.input-box {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 40px;
    outline: none;
    padding-left: 42px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-box:focus,
.input-box--comments:focus {
    border: 1px solid var(--blue-accent);
}
.input-box--comments {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 120px;
    outline: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    padding: 12px 16px;
    resize: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-box--comments::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
}
.checkbox {
    margin-top: 20px;
    text-align: center;
    display: flex;
    position: relative;
    margin-left: 17px;
    cursor: pointer;
}
.checkbox-input {
    position: absolute;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: none;
}
.checkbox-border {
    width: 16px;
    height: 15px;
    margin-right: 7px;
    margin-top: 3px;
    position: relative;
    opacity: 0;
}
.checkbox-icon--checked {
    position: absolute;
    left: -2px;
    top: -1px;
}
.checkbox-icon--unchecked {
    position: absolute;
    top: 2px;
    left: -2px;
    opacity: 1;
}
.checkbox-input:checked ~ .checkbox-border {
    opacity: 1;
}
.checkbox-input:checked ~ .checkbox-icon--unchecked {
    opacity: 0;
}
.checkbox-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
}
.checkbox-text-link {
    color: var(--blue-accent);
}
.checkbox-input:checked {
    fill: #ffffff;
    background: #2196f3;
}
.user-name--icon,
.email-address--icon,
.phone-number--icon {
    position: absolute;
    top: 30px;
    left: 12px;
}
