.products {
    &_types {
        list-style: none;
        display: flex;
        justify-content: center;
        text-align: center;
        & li:last-child {
            margin-right: 0;
        }
    }
    &_header {
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        line-height: 1.17;
        letter-spacing: 0.03em;
        padding-bottom: 50px;
    }
    &_image {
        margin-right: 30px;
        position: relative;
    }
    &_label {
        font-family: $BrandMainFont;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: $LogoSecondaryColor;
        background: $BackgroundColor;
        opacity: 80%;
        margin: 0;
        &--1 {
            padding: 27px 90px;
        }
        &--2 {
            padding: 27px 112.99px;
        }
        &--3 {
            padding: 27px 94px;
        }
    }
}
.products_image > .products_label {
    position: absolute;
    bottom: 0;
}
